.logo-container {
  position: relative;

  .logo-image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    max-height: 320px;

    img {
      visibility: hidden;
    }
  }

  .logo-image-home {
    max-height: 450px;
  }

  .logo-background {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .logo-text {
    color: #fff;
    text-align: center;
    transition: text-shadow 0.1s linear;
    text-transform: lowercase;
    font-feature-settings: "liga" 0;

    font: 300 48px Ubuntu;
    letter-spacing: 24px;
    text-indent: 24px;

    @media (min-width: 600px) {
      font-size: 64px;
      height: 110px;
      letter-spacing: 32px;
      text-indent: 32px;
    }
    @media (min-width: 1000px) {
      font-size: 80px;
      height: 160px;
      letter-spacing: 48px;
      text-indent: 48px;
    }
  }

  .logo-text-subtitle {
    font: 300 16px Roboto;
    text-transform: none;
    letter-spacing: normal;
    text-indent: 0;

    @media (min-width: 600px) {
      font-size: 24px;
    }
    @media (min-width: 1000px) {
      font-size: 32px;
    }
  }

  .logo-text:hover {
    text-shadow: 0px 0px 48px #fff;
  }

}
