.logo-container {
  position: relative;

  .logo-image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    max-height: 320px;

    img {
      visibility: hidden;
    }
  }

  .logo-image-home {
    max-height: 450px;
  }

  .logo-background {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.5), rgba(255,255,255,0));
  }

  .logo-text {
    color: #fff;
    text-align: center;
    transition: text-shadow 0.1s linear;
    text-transform: uppercase;

    font: 900 48px Roboto;

    @media (min-width: 600px) {
      font-size: 64px;
      height: 110px;
    }
    @media (min-width: 1000px) {
      font-size: 80px;
      height: 160px;
    }
  }

  .logo-text-subtitle {
    font: 300 24px Roboto;
    text-transform: none;

    @media (min-width: 600px) {
      font-size: 32px;
    }
    @media (min-width: 1000px) {
      font-size: 40px;
    }
    line-height: 0.5;
  }

  .logo-text:hover {
    text-shadow: 0px 0px 48px #fff;
  }

}
